h1{
    color: rgb(6, 6, 211);
}
h2{
    color: blue;
}
h3 {
    color: blue;
}
background{
    color:purple;
}
h4 {
    color: blue;
    
}
h5 {
    color: blue;
}
body{
    background-color:rgb(175, 175, 240);
}image{
    width: 3px;
}
text {
    font-size: larger;
    align-items: center;
    color: rgb(68, 3, 3);
}